html,
.cursive{
	font-style:italic;
	color: white;
}
.anipic{
	color: black;
	font-size: 30px;
	

}
body {
	position: relative;
	height: 100%;
	font-family: ProximaNova, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
		Cantarell, Noto Sans, sans-serif, Helvetica, Arial, Apple Color Emoji,
		Segoe UI Emoji;
	background-color: rgb(238, 238, 238);
}
* {
	margin: 0;
	padding: 0;
}
button {
	background-color: transparent;
	border: none;
}
nav {
	background-color: #462f48;
	position: fixed;
	z-index: 6;
	width: 100%;
}
nav figure {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
}
.container .added-items {
	border-right: 2px solid rgba(0, 0, 0, 0.062);
	min-height: 100vh;
	height: 100%;
	background: linear-gradient(45deg, #fd267a, #ff6036);
	padding: 20px;
	-webkit-box-shadow: 5px 2px 15px 5px rgba(0, 0, 0, 0.34);
	box-shadow: 5px 2px 15px 5px rgba(0, 0, 0, 0.34);
}
.container .added-items h1 {
	margin-top: 10px;
	color: #fff;
	font-size: 24px;
	text-align: center;
}
.swiper {
	width: 100%;
	max-width: 480px;
	height: 620px;
	position: fixed;
	left: 0;
	right: 0;
	border-bottom: 5px;
}
.swiper h2 {
	margin: 30px 0;
}
.swiper-slide {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
.swiper-slide .grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 1fr 100px;
	width: 100%;
	height: 100%;
	max-height: 80vh;
}
.swiper-slide .card-content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	z-index: 999;
}
.swiper-slide .card-content .fa-times {
	color: #f13b2d;
	border: 5px solid #f13b2d;
	border-radius: 100%;
	padding: 20px;
	font-size: 30px;
}
.swiper-slide .card-content .fa-times:hover {
	background-color: #f13b2d;
	color: #fff;
}

.swiper-slide .card-content .fa-heart {
	color: #2df187;
	border: 5px solid #2df187;
	border-radius: 100%;
	padding: 20px;
	font-size: 30px;
	background: none;
	cursor: pointer;
}
.swiper-slide .card-content .fa-heart:hover {
	background-color: #2df187;
	color: #fff;
}

.swiper-slide .name {
	display: flex;
	align-items: center;
	z-index: 999;
	font-weight: 200;
}
.swiper-slide .name {
	margin-top: 100px;
	margin-left: 20px;
}
.swiper-slide .name span {
	margin-left: 14px;
	font-size: 30px;
	font-weight: 700;
}

.swiper-slide .name-added {
	display: flex;
	align-items: center;
	background-color: #000;
	position: relative;
	top: 120px;
	height: 20px;
	padding: 10px 0;
	width: 100%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.swiper-slide .name-added span {
	font-weight: normal;
}
.swiper-slide .name-added h2 {
	color: #fff;
	font-size: 20px;
	padding: 10px;
}
.swiper-slide .card-image.cat {
	position: absolute;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/VAN_CAT.png/800px-VAN_CAT.png");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
}
.swiper-slide .card-image.cat-added {
	position: absolute;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/VAN_CAT.png/800px-VAN_CAT.png");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	max-height: 100px;
}

.swiper-slide .card-image.dog {
	position: absolute;
	background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2021%2F02%2F25%2Fgerman-shepherd-head-tilt-201535197-2000.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
}
.swiper-slide .card-image.dog-added {
	position: absolute;
	background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2021%2F02%2F25%2Fgerman-shepherd-head-tilt-201535197-2000.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
	max-height: 100px;
	margin-top: 30px;
}

.swiper-slide .card-image.snake {
	position: absolute;
	background-image: url("https://i.pinimg.com/originals/1f/10/45/1f1045f560e8072614befb99333b9034.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
}
.swiper-slide .card-image.snake-added {
	position: absolute;
	background-image: url("https://i.pinimg.com/originals/1f/10/45/1f1045f560e8072614befb99333b9034.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
	height: 100px;
	margin-top: 30px;
}
.swiper-slide .card-image.fish {
	position: absolute;
	background-image: url("https://petkeen.com/wp-content/uploads/2021/02/Black-Orchid-Betta-Fish_Bitberyl_Shutterstock.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
}
.swiper-slide .card-image.fish-added {
	position: absolute;
	background-image: url("https://petkeen.com/wp-content/uploads/2021/02/Black-Orchid-Betta-Fish_Bitberyl_Shutterstock.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
	height: 100%;
	height: 100px;
	margin-top: 30px;
}
.swiper-slide .card-image.chameleon {
	position: absolute;
	background-image: url("https://images.pexels.com/photos/751687/pexels-photo-751687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
}
.swiper-slide .card-image.chameleon-added {
	position: absolute;
	background-image: url("https://images.pexels.com/photos/751687/pexels-photo-751687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
	height: 100%;
	max-height: 100px;
	margin-top: 30px;
}
.swiper-slide .card-image.mice {
	position: absolute;
	background-image: url("https://images.pexels.com/photos/51340/rat-pets-eat-51340.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
}
.swiper-slide .card-image.mice-added {
	position: absolute;
	background-image: url("https://images.pexels.com/photos/51340/rat-pets-eat-51340.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
	height: 100%;
	max-height: 100px;
	margin-top: 30px;
}
.swiper-slide .card-image.axolotl {
	position: absolute;
	background-image: url("https://www.blackdogandleventhal.com/wp-content/uploads/2019/07/axolotl_considertheplatypus_bdl.jpg?w=768");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
}
.swiper-slide .card-image.axolotl-added {
	position: absolute;
	background-image: url("https://www.blackdogandleventhal.com/wp-content/uploads/2019/07/axolotl_considertheplatypus_bdl.jpg?w=768");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
	height: 100%;
	max-height: 100px;
	margin-top: 30px;
}
.swiper-slide .card-image.goat {
	position: absolute;
	background-image: url("https://japantoday-asset.scdn3.secure.raxcdn.com/img/store/76/0c/348fb0bc86f5f11af913915d07f89079d607/goat.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
}
.swiper-slide .card-image.goat-added {
	position: absolute;
	background-image: url("https://japantoday-asset.scdn3.secure.raxcdn.com/img/store/76/0c/348fb0bc86f5f11af913915d07f89079d607/goat.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
	height: 100%;
	max-height: 100px;
	margin-top: 30px;
}
.swiper-slide .card-image.monkey {
	position: absolute;
	background-image: url("http://cdn.sci-news.com/images/enlarge6/image_7699e-Capuchin-Monkey.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
}
.swiper-slide .card-image.monkey-added {
	position: absolute;
	background-image: url("http://cdn.sci-news.com/images/enlarge6/image_7699e-Capuchin-Monkey.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
	height: 100%;
	max-height: 100px;
	margin-top: 30px;
}
.swiper-slide .card-image.duck {
	position: absolute;
	background-image: url("https://images.pexels.com/photos/7369956/pexels-photo-7369956.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
}
.swiper-slide .card-image.duck-added {
	position: absolute;
	background-image: url("https://images.pexels.com/photos/7369956/pexels-photo-7369956.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 5px;
	height: 100%;
	max-height: 100px;
	margin-top: 30px;
}
.swiper-button-next,
.swiper-button-prev {
	left: 0;
	right: 0;
	position: relative;
	bottom: 0;
	top: 0 !important;
	height: auto !important;
	margin-top: 0 !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}
.added-items {
	display: block;
	gap: 50px;
}
#cat {
	position: relative;
}
#dog {
	position: relative;
}

.wordCarousel {
	display: flex;
    font-size: 36px;
    font-weight: 100;
    color: rgb(0, 0, 0);
}
.carousel {
	overflow: hidden;
	position: relative;
	float: right;
	height: 100px;
	padding-top: 10px;
	margin-top: -10px;
}
.words {
	font-family: Serif;
	font-size: 60px;
	color: rgb(0, 0, 0);
	font-weight: 700;
	padding: 0 10px;
	height: 45px;
	margin-bottom: 45px;
	display: block;
}
.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}
